*.log
.idea/elasticsearch-getting-started-1.iml
.idea/inspectionProfiles
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
tools/vendor/autoload.php
tools/vendor/bin
tools/vendor/composer
tools/vendor/doctrine
tools/vendor/elasticsearch
tools/vendor/fzaninotto
tools/vendor/guzzlehttp
tools/vendor/illuminate
tools/vendor/nesbot
tools/vendor/psr
tools/vendor/react
tools/vendor/symfony
.vagrant/
.idea/
